* {
    margin: 0;
    padding: 0;
}

.conatiner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
}

.conatiner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100vh;
    object-fit: cover;
}

.conatiner img:nth-child(2) {
    mix-blend-mode: multiply;
}